@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
@import "~ionicons/dist/css/ionicons.css";

* {
  box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

html,
body,
#root,
.App {
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.App__nav {
  flex-shrink: 0;
}

.App__content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.Exercise__row {
  display: flex;
  flex: 1;
}

.Exercise__column {
  flex: 1;
  border: #000 solid 1px;
  position: relative;
  padding: 1rem;
}

.Exercise__column +
.Exercise__column {
  margin-left: 1rem;
}

.Exercise__label {
  position: absolute;
  right: 1rem;
  color: #bbb;
}


/* Exercise 02 */

.TimeEntry {
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10rem;
  width: 10rem;
  padding: 0.5rem;
  color: #fff;
  background-color: #3c4fbc;
  border-radius: 4px;
}

.TimeEntry__project {
  font-size: 0.8em;
  opacity: 0.75;
}

.TimeEntry__timer {
  display: inline-flex;
  justify-content: space-between;
}

.TimeEntry__timer__control {
  background: none;
  border: none;
  outline: none;
  padding: 0;
  margin: 0;
  color: inherit;
  font-size: 1em;
  cursor: pointer;
}

